.page-template-tpl_homepage {

  .hero-section {
    //height: 670px;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
    padding: 207px 0;

    @include max-w($screen-md) {
      //height: 100vh;
    }

    &--slider {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $white;
      padding-right: $container-padding;
      padding-left: $container-padding;

      .title {
        letter-spacing: 0.32px;
        font-family: $font-family-title;
        font-weight: 700;
        position: relative;
        margin-bottom: 50px;
        margin-top: 10px;

        &:after {
          position: absolute;
          top: auto;
          left: 50%;
          content: '';
          bottom: -20px;
          width: 50px;
          height: 1px;
          background-color: $main-color;
          transform: translate(-50%, 0%);
        }
      }

      .slick-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
      }

      .description {
        letter-spacing: 0.7px;
        max-width: 820px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.7;
      }

      .btn {
        margin-top: 30px;
      }

      .slick-dots {
        position: absolute;
        top: calc(100% + 105px);
        //bottom: 56px;
        padding-left: 0;
        list-style: none;
        display: flex;
        left: 50%;
        transform: translateX(-50%);

        @include max-w($screen-sm) {
          bottom: 20px;
        }

        li {
          margin-left: 3px;
          margin-right: 3px;
          outline: none;

          button {
            width: 10px;
            height: 10px;
            color: transparent;
            padding: 0;
            font-size: 1px;
            background-color: transparent;
            border: 1px solid #c2c2c2;
            border-radius: 50%;
            -moz-appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
            transition: .3s;

            &:focus {
              outline: none;
            }
          }

          &:hover,
          &.slick-active {
            button {
              background-color: $main-color;
              border-color: $main-color;
            }
          }
        }
      }
    }
  }

  /* Our story section */
  .our-story {
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;

    @include max-w($screen-m) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &--inner {
      display: flex;
      max-width: 970px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;

      @include max-w($screen-md) {
        max-width: 100%;
      }

      @include max-w($screen-m) {
        flex-direction: column;
        text-align: center;
      }
    }

    &--image-wrapper {
      padding-left: 65px;

      @include max-w($screen-m) {
        padding-left: 0;
        padding-bottom: 20px;
      }

      img {
        width: 235px;

        @include max-w($screen-m) {
          width: 120px;
        }
      }
    }

    &--description-wrapper {
      max-width: 640px;
      padding-left: 100px;

      @include max-w($screen-m) {
        padding-left: 0;
      }

      h2 {
        margin-top: 0;
      }

      p {
        letter-spacing: 0.42px;
        line-height: 1.57;
      }

      .btn {
        margin-top: 30px;
      }
    }
  }

  /* Our story video section */
  .our-video {
    padding-top: 202px;
    padding-bottom: 186px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    color: $white;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include max-w($screen-sm) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &--title {
      letter-spacing: 0.8px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }

    button {
      background: none;
      outline: none;
      border: none;
    }

    i.fa {
      font-size: 40px;
      cursor: pointer;
      border: 3px solid $white;
      color: $white;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 34px;
      transition: 0.3s;

      &:hover {
        color: $main-color;
        border-color: $main-color;
      }
    }
  }

  /* Expertise section */
  .expertise {
    padding-top: 65px;
    padding-bottom: 60px;
    background: $white;
    text-align: center;

    @include max-w($screen-sm) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &-container {
      max-width: 980px;
      margin-left: auto;
      margin-right: auto;

      @include max-w($screen-lg) {
        max-width: 100%;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }
    }

    h2 {
      color: $grey-color;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 12px;
    }

    .subtitle {
      letter-spacing: 1.05px;
      color: #2f2d35;
      opacity: 0.75;
      position: relative;
      display: inline-block;
      margin-bottom: 50px;

      @include max-w($screen-sm) {
        margin-bottom: 20px;
      }

      &:after {
        position: absolute;
        top: auto;
        left: 50%;
        content: '';
        bottom: -20px;
        width: 50px;
        height: 2px;
        background-color: $grey-color;
        opacity: 0.3;
        transform: translate(-50%, 0%);
      }
    }

    &--tile {
      display: flex;
      justify-content: center;
      align-items: inherit;
      flex-wrap: wrap;
      margin-top: 20px;

      &-title {
        letter-spacing: 0.7px;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 20px;
        margin-top: 30px;
        color: $grey-color;
      }

      &-description {
        letter-spacing: 0.7px;
        font-weight: 300;
        line-height: 22px;
      }
    }

    &--tile-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 33%;
      padding: 30px 32px 40px;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: #ebebeb;
      overflow: hidden;

      & > div {
        width: 100%;
      }

      @include min-w(569px) {
        &:nth-child(3n+3) {
          border-right: none;
        }

        &:nth-last-child(-n+3) {
          border-bottom: none;
        }
      }

      @include max-w($screen-m) {
        width: 50%;

        &:nth-child(2n+2) {
          border-right: none;
        }

        &:nth-last-child(-n+2) {
          border-bottom: none;
        }
      }

      @include max-w($screen-sm) {
        width: 100%;
        padding: 20px 0 30px;
        border-right: none;
      }

      img {
        height: 50px;
      }
    }
  }

  /* Meet the team section */
  .meet-the-team {
    padding-top: 70px;
    padding-bottom: 64px;
    color: $white;
    text-align: center;
    z-index: 1;
    background-position: 50% 50%;
    background-size: cover;

    &--container {
      max-width: 990px;
      margin-right: auto;
      margin-left: auto;

      @include max-w($screen-lg) {
        max-width: 100%;
        padding-right: $container-padding;
        padding-left: $container-padding;
      }
    }

    h2 {
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 12px;
    }

    .subtitle {
      letter-spacing: 1.05px;
      color: $white;
      position: relative;
      display: inline-block;
      margin-bottom: 50px;

      @include max-w($screen-sm) {
        margin-bottom: 20px;
      }

      &:after {
        position: absolute;
        top: auto;
        left: 50%;
        content: '';
        bottom: -20px;
        width: 50px;
        height: 2px;
        background-color: $white;
        opacity: 0.2;
        transform: translate(-50%, 0%);
      }
    }

    &--list {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 70px;

      @include max-w($screen-lg) {
        flex-wrap: wrap;
        margin-bottom: 30px;
      }
    }

    &--item {
      margin-right: 10px;
      margin-left: 10px;
      border: 1px solid rgba(225, 225, 225, 0.5);
      width: 220px;
      padding-bottom: 28px;

      @include max-w($screen-lg) {
        margin-bottom: 30px;
      }

      @include max-w($screen-sm) {
        width: 180px;
      }

      @include max-w(415px) {
        width: 80%;
      }

      img {
        width: 100%;
        height: 229px;
        margin-bottom: 20px;

        @include max-w($screen-lg) {
          height: auto;
        }
      }

      .name {
        letter-spacing: 0.7px;
        text-transform: uppercase;
        display: block;
        font-weight: 700;
        margin-bottom: 12px;
      }

      .position {
        opacity: 0.7;
        font-size: 13px;
        text-transform: uppercase;
        color: #fafafa;
      }
    }

    p {
      letter-spacing: 0.7px;
      color: #f3f3f3;
      font-size: 14px;
      margin-bottom: 26px;
    }
  }

  /* Our work ssction */
  .our-works {
    padding-top: 43px;
    padding-bottom: 65px;

    @include max-w($screen-sm) {
      padding-bottom: 50px;
    }

    &--container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      padding-bottom: 70px;

      @include max-w($screen-sm) {
        padding-bottom: 50px;
      }
    }

    &--header {
      align-items: center;
      display: flex;
      max-width: 940px;
      margin-right: auto;
      margin-left: auto;
      justify-content: space-between;

      @include max-w($screen-md) {
        max-width: 100%;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }

      @include max-w($screen-xs) {
        flex-direction: column;
      }

      .see-all {
        letter-spacing: 0.7px;
        color: $grey-color;

        &:hover {
          color: $main-color;
        }
      }
    }

    &--item {
      width: 16.6666%;
      height: 300px;
      -webkit-background-size: auto 200px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      transition: width 0.3s, height 0.3s;

      @include max-w($screen-2k) {
        height: 200px;
      }

      @include max-w($screen-tab) {
        width: 25%;
      }

      @include max-w($screen-m) {
        width: 50%;
      }

      @include max-w($screen-xs) {
        width: 100%;
      }

      &.invisible {
        width: 0;
        height: 0;
      }
    }

    .load-more {
      display: inline-block;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  /* Testimonials section */
  .testimonials {
    padding-top: 50px;
    padding-bottom: 65px;
    z-index: 1;
    background-position: 50% 50%;
    background-size: cover;
    color: $white;
    overflow: hidden;

    &--container {
      width: 100%;
      max-width: 770px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      text-align: center;
      position: relative;
      padding-top: 85px;

      @include max-w($screen-md) {
        max-width: 100%;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }

      &:before {
        opacity: 0.9;
        content: '“';
        display: block;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        color: #ffffff;
        font-family: $font-family-title;
        font-size: 100px;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 0.6;
      }
    }

    &--texts {
      margin-bottom: 15px;
    }

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      &-text {
        letter-spacing: 0.4px;
        line-height: 26px;
        opacity: 0.85;
        font-size: 16px;
        font-family: $font-family-title;
        margin-bottom: 40px;
      }

      .name {
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        line-height: 22px;
      }

      .position {
        opacity: 0.7;
        font-size: 13px;
        font-weight: 300;
        line-height: 22px;
        text-transform: uppercase;
      }
    }

    &--nav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 320px;
      height: 70px;
      margin-right: auto;
      margin-left: auto;

      @include max-w($screen-sm) {
        width: 190px;
      }

      &-item {
        height: 45px;
        width: 45px;
        overflow: hidden;
        text-align: center;

        img {
          width: 45px;
          transition: 0.3s;
        }
      }

      .slick-track {
        display: flex;
        align-items: center;
      }

      .nav-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 20px;
        transition: 0.3s;
        cursor: pointer;

        &.fa-chevron-left {
          left: -35px;
        }

        &.fa-chevron-right {
          left: auto;
          right: -35px;
        }

        &:hover {
          color: $main-color;
        }
      }

      .slick-slide {
        width: 45px;
        height: 45px;
        margin-left: 7px;
        margin-right: 7px;
        transition: 0.3s;
        cursor: pointer;

        &.slick-current {
          height: 70px;
          width: 70px;

          img {
            width: 70px;
          }
        }
      }
    }
  }

  /* Section Contact and Our clients */
  .contact {
    padding-top: 50px;
    padding-bottom: 60px;

    &--container {
      display: flex;
      width: 100%;
      max-width: 940px;
      justify-content: space-between;
      margin-right: auto;
      margin-left: auto;

      @include max-w($screen-lg) {
        max-width: 100%;
        padding-left: $container-padding;
        padding-right: $container-padding;
      }

      @include max-w($screen-md) {
        //flex-direction: column-reverse;
        flex-direction: column;
      }

      h2 {
        margin-bottom: 31px;
      }

      .btn-submit {
        padding: 12px 30px;
      }

      .wpcf7-form {
        width: 100%;

        @include max-w($screen-lg) {
          padding-right: 20px;
        }

        p {
          padding: 0;
          margin: 0;
        }
      }
    }

    &--column {
      width: 100%;

      &_form {
        max-width: 460px;
      }

      &_clients {
        max-width: 380px;

        @include max-w($screen-md) {
          max-width: 100%;
        }
      }
    }

    &--our-clients {
      column-count: 2;
      text-align: center;
      padding-top: 12px;

      @include max-w($screen-md) {
        column-count: 4;
      }

      @include max-w($screen-sm) {
        column-count: 2;
      }

      img {
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
