// Buttons

.btn {
  display: inline-block;
  vertical-align: middle;
  outline: 0 none;
  font-family: 'HammersmithOne';
  border: 1px solid;
  font-size: 16px;
  color: $main-color;
  border-radius: 2px;
  padding: 12px 15px;
  background-color: transparent;
  text-transform: uppercase;
  transition: 0.3s;
  line-height: 1;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $main-color;
  }

  &--on-dark {
    &:hover {
      background-color: $white;
      color: $main-color;
      border-color: $white;
    }
  }
}
